/* You can add global styles to this file, and also import other style files */
:root {
    --app-palette-background-default: hsl(210, 14%, 7%);
    --app-palette-background-paper: hsla(210, 14%, 9%, 0.8);
    --app-palette-text-tertiary: hsl(215, 15%, 65%);
    --app-palette-text-secondary: hsl(215, 15%, 75%);
    --app-palette-divider: hsla(210, 14%, 28%, 0.3);
    --app-palette-background-footer: #3b82f680;

    --app-pallete-nav-item-hover-background: hsla(210, 14%, 13%, 0.8);
}

body {
    background-color: var(--app-palette-background-default);
    color: var(--app-palette-text-tertiary);
    margin: 0;
    min-height: 100dvh;
    height: 100dvh;
}


// Estilos de los iconos
@font-face {
    font-family: 'icomoon';
    src:  url('./../public/fonts/icomoon.eot?46ykuy');
    src:  url('./../public/fonts/icomoon.eot?46ykuy#iefix') format('embedded-opentype'),
      url('./../public/fonts/icomoon.ttf?46ykuy') format('truetype'),
      url('./../public/fonts/icomoon.woff?46ykuy') format('woff'),
      url('./../public/fonts/icomoon.svg?46ykuy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-desktop:before {
    content: "\e907";
  }
  .icon-mobile:before {
    content: "\e908";
  }
  .icon-tablet:before {
    content: "\e909";
  }
  .icon-docker:before {
    content: "\e905";
  }
  .icon-pm2:before {
    content: "\e906";
  }
  .icon-github:before {
    content: "\e904";
  }
  .icon-microship:before {
    content: "\e901";
  }
  .icon-user:before {
    content: "\e902";
  }
  .icon-users:before {
    content: "\e903";
  }
  .icon-config:before {
    content: "\e900";
  }
  