:host {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.item {
    .field {
        font-size: 90%;
    }
    .text {
        color: var(--app-palette-text-secondary);
        font-weight: 500;
    }
}