:host {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100dvh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em 1em;
}