<header>

</header>
<aside>
    <div>
        Deploy | Novah
    </div>
    <nav>
        <ul>
            <li>
                <div class="text">
                    Proyectos
                </div>
            </li>
            <li>
                <div class="text">
                    PM2
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div class="text">
                    Usuarios
                </div>
            </li>
            <li>
                <div class="text">
                    Perfil
                </div>
            </li>
        </ul>
    </nav>
</aside>
<main>
    <router-outlet/>
</main>
<footer>
    <div>
        Novah.dev
    </div>
    <div>
        <a href="https://github.com/novahdev/deploy" target="_blank" rel="noopener noreferrer">
            GitHub
        </a>
    </div>
</footer>