<header>
    <div>

    </div>
    <div class="user-area" (click)="openDrawerUserMenu()" aria-hidden="true">
        {{username()}}
    </div>
</header>
<aside>
    <div class="logo">
        <img src="/logo.svg" alt="Logo" height="20">
        <div class="text">
            Deploy | Novah
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <div class="icon">
                    <i class="icon-microship"></i>
                </div>
                <div class="text">
                    Proyectos
                </div>
            </li>
            <li>
                <div class="icon">
                    <i class="icon-pm2"></i>
                </div>
                <div class="text">
                    PM2
                </div>
            </li>
            <li>
                <div class="icon">
                    <i class="icon-docker"></i>
                </div>
                <div class="text">
                    Docker
                </div>
            </li>
        </ul>
        <ul>
            <li routerLink="/users">
                <div class="icon">
                    <i class="icon-users"></i>
                </div>
                <div class="text" style="color: white;">
                    Usuarios
                </div>
            </li>
            <li routerLink="/profile">
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
                <div class="text">
                    Perfil
                </div>
            </li>
        </ul>
    </nav>
</aside>
<main>
    <router-outlet/>
</main>
<footer>
    <div>
        Novah.dev
    </div>
    <div>
        <i class="icon-github"></i>
        <a href="https://github.com/novahdev/deploy" target="_blank" rel="noopener noreferrer">
            GitHub
        </a>
    </div>
</footer>