:host {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    min-height: 100%;
    height: 100dvh;
    grid-template-areas: "nav header" "nav main" "footer footer";
}
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .5em 1em;

    .user-area {
        cursor: pointer;
        height: 100%;
    }
}
aside {
    grid-area: nav;
    background-color: var(--app-palette-background-paper);
    border-right: 1px solid var(--app-palette-divider);
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    .logo {
        display: flex;
        align-items: center;
        column-gap: .5em;
        padding: .5em 1em;
    }
    nav {
        display: grid;
        grid-template-rows: 1fr auto;
        padding-top: 1em;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                padding: .5em 1em;
                border: 1px solid transparent;
                cursor: pointer;
                display: grid;
                grid-template-columns: 1.5em 1fr;
                column-gap: .5em;
                &:hover {
                    background-color: var(--app-pallete-nav-item-hover-background);
                    border: 1px solid var(--app-palette-divider);
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }   
        }
    }
}
main {
    grid-area: main;
    background-color: var(--app-palette-background-default);
    color: var(--app-palette-text-tertiary);
    padding: 1rem;
    overflow: auto;
}
footer {
    grid-area: footer;
    padding: .3em 1em;
    background-color: var(--app-palette-background-footer);
    display: grid;
    grid-template-columns: 1fr auto;
}