<form nz-form nzLayout="vertical" [formGroup]="formGroup">
    <nz-form-item>
        <nz-form-label>
            Contraseña actual
        </nz-form-label>
        <nz-form-control>
            <input nz-input type="password" formControlName="password">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>
            Nueva contraseña
        </nz-form-label>
        <nz-form-control>
            <input nz-input type="password" formControlName="newPassword">
        </nz-form-control>
    </nz-form-item>
</form>

<div *nzModalFooter>
    <button (click)="onClickSave()" nz-button>Actualizar contraseña</button>
</div>